/* Used image from - https://unsplash.com/photos/erJIK6HLBCw */

.bg-main {
  background-color: black;
}

.task-item {
  text-align: left!important;
  font-weight: bold;
}

.total-task {
    font-size: 2em!important;
}

.btn-color{
  background-color: rgb(65, 65, 159) !important;
  color: white;
}

.delete-btn{
  background-color: rgb(215, 117, 117) !important;
}

.clear-btn {
  background-color: rgb(65, 65, 159) !important;
}